<!DOCTYPE html>
<html>
<head>
    <title>Add Application</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-container">

    <h1>Add Application</h1>

    <form method="POST">

        <label>Company Name</label>
        <input
            type="text"
            name="company_name"
            placeholder="Company Name"
            required
        >

        <label>Job Role</label>
        <input
            type="text"
            name="job_role"
            placeholder="Job Role"
            required
        >

        <label>Location</label>
        <input
            type="text"
            name="location"
            placeholder="Location"
        >

        <label>Salary</label>
        <input
            type="text"
            name="salary"
            placeholder="Salary"
        >

        <label>Applied Date</label>
        <input
            type="date"
            name="applied_date"
        >

        <label>Status</label>
        <select name="status">

            {% for status in statuses %}

            <option value="{{ status }}">
                {{ status }}
            </option>

            {% endfor %}

        </select>

        <label>Job URL</label>
        <input
            type="url"
            name="job_url"
            placeholder="https://company.com/job"
        >

        <label>Notes</label>
        <textarea
            name="notes"
            placeholder="Add notes about this application..."
        ></textarea>

        <button type="submit">
            Save Application
        </button>

    </form>

    <br>

    <a href="/" class="add-btn">
        Back To Dashboard
    </a>

</div>

</body>
</html>